# Set perfd properties
    setprop sys.post_boot.parsed 1

    # Start IO prefetcher service
    start iop

service perfd /system/vendor/bin/perfd
    class main
    user root
    group root readproc
    disabled
    socket perfd seqpacket 0666 root system
    writepid /dev/cpuset/system-background/tasks

service iop /system/bin/iop
    class main
    user root
    group root
    disabled
    socket iop seqpacket 0666 root system
    writepid /dev/cpuset/system-background/tasks
